.description {
  width: calc(100% - 148px*2);
  margin: 0 auto;
  padding-bottom: 92px;
}

@media (max-width: 1279.98px) {
  .description {
    width: calc(100% - 48px*2);
  }
}

@media (max-width: 1023.98px) {
  .description {
    width: calc(100% - 24px*2);
    padding-bottom: 88px;
  }
}

@media (max-width: 767.98px) {
  .description {
    width: calc(100% - 16px*2);
    padding-bottom: 63px;
  }
}
