.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 48px*2);
  margin: 0 auto;
  padding: 28px 0;
}

@media (max-width: 1023.98px) {
  .header {
    width: calc(100% - 24px*2);
  }
}

@media (max-width: 767.98px) {
  .header {
    width: calc(100% - 16px*2);
    padding: 16px 0;
  }
}
