.description__list-item {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.45;
  padding: 0;
  margin: 0;
}

@media (max-width: 1279.98px) {
  .description__list-item {
    line-height: 1.5;
  }
}
