.hero__route-tag {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 1023.98px) {
  .hero__route-tag {
    margin-left: 24px;
  }
}

@media (max-width: 767.98px) {
  .hero__route-tag {
    margin-left: 16px;
  }
}
