.header__link {
  padding: 0;
  margin: 0;
  line-height: 1.1;
  text-decoration: none;
  color: var(--color-white);
  font-size: 24px;
  border-bottom: 1px solid transparent;
  margin-right: 18px;
  transition: opacity .3s ease;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link:hover {
  opacity: .8;
}


@media (max-width: 767.98px) {
  .header__link {
    font-size: 18px;
  }
}
