.cover {
  position: relative;
  min-height: 740px;
  width: calc(100% - 48px*2);
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 30px;
  background: url('./cover-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1279.98px) {
  .cover {
    width: 100%;
    min-height: 640px;
    margin-top: 60px;
  }
}

@media (max-width: 1023.98px) {
  .cover {
    min-height: 480px;
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .cover {
    min-height: 200px;
    margin-top: 0;
  }
}
