.card__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  max-width: 91%;
  margin: 0 0 50px 0;
  padding: 0;
}

@media (max-width: 1023.98px) {
  .card__title {
    font-size: 42px;
    line-height: 1.095;
    margin-bottom: 45px;
  }
}

@media (max-width: 767.98px) {
  .card__title {
    font-size: 32px;
    margin-bottom: 20px;
    padding: 0 16px;
  }
}
