.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 75px;
}

.card:first-child {
  margin-top: 85px;
}

@media (max-width:1023.98px) {

  .card {
    margin-bottom: 60px;
  }

  .card:first-child {
    margin-top: 75px;
  }

}

@media (max-width:767.98px) {

  .card {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .card:first-child {
    margin-top: 60px;
  }

}
